{% extends 'themes/base_visitor.html.twig' %}

{% block title %}L'email de réinitialisation du mot de passe envoyé{% endblock %}

{% block description %}L'email de réinitialisation du mot de passe envoyé{% endblock %}

{% block keywords %}Réinitialisation, mot-de-passe, envoyé{% endblock %}

{% block main %}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <p>S'il existe un compte correspondant à votre adresse email, un email vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.</p>
                <p>Ce lien expirera dans{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                </p>
                <p>Si vous ne recevez pas d'email, veuillez vérifier votre dossier spam ou <a href="{{ path('visitor_authentication_forgot_password_request') }}">rééssayer à nouveau</a>.</p>
            </div>
        </div>
    </div>
   
{% endblock %}
