{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Paiement Refusé{% endblock %}

{% block description %}Paiement Refusé{% endblock %}

{% block keywords %}Paiement, refusé{% endblock %}

{% block main %}

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h1 class="text-center my-3 display-3">Redirection</h1>
                    <p>Nous vous informons que votre tentative de paiement a été refusée. Il semble y avoir un problème avec les informations que vous avez fournies.</p>
                    <p>Assurez-vous que les informations de votre carte de crédit/débit sont correctes (numéro de carte, date d'expiration, CVV).</p>
                </div>
            </div>
        </div>
        
{% endblock %}
