{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block description %}Paiement{% endblock %}

{% block keywords %}Paiement, commandes, produits{% endblock %}

{% block main %}

    <h1 class="text-center my-3 display-5">Page Panier</h1>

{% endblock %}
