{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Paiement Accepté{% endblock %}

{% block description %}Paiement Accepté{% endblock %}

{% block keywords %}Paiement, accepté{% endblock %}

{% block main %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <i class="fas fa-check-circle text-success display-1"></i>
            <h1 class="my-3 display-3">Merci de votre commande.</h1>
            <h2 class="my-3">Votre paiement a été accepté.</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow text-center">
                <div class="card-body">
                    <p class="fw-bold fs-3">Statut du paiement : <span class="text-success">{{ order.status }}</span></p>
                    <p class="fw-bold fs-5">Email : {{ order.userEmail }}</p>
                    <p class="fw-bold fs-5">Montant Total : <span class="text-primary">{{ order.totalAmount }} €</span></p>
                    <p class="fw-bold fs-5">Un email sera envoyé à votre boîte de réception pour confirmer votre commande.</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a href="{{path('visitor_catalog_index')}}" class="btn btn shadow fs-5" style="background-color: #C59B76"><i class="fas fa-shopping-cart"></i> Continuer vos achats</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

