{% extends 'themes/base_visitor.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block description %}Bienvenue sur le site RoastBeans Café{% endblock %}

{% block keywords %}À Propos, café, bienvenue{% endblock %}

{% block main %}

    <h1 class="text-center my-3 display-5">Qui sommes-nous ?</h1>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-5 my-3">
                <img src="{{asset('/images/visitor/coffee-shop.jpg')}}" class="d-block w-100" alt="Images de la coffeeshop" style="border-top-right-radius: 0; border-bottom-right-radius: 100px; border-top-left-radius: 100px; border: 5px solid #C59B76">
            </div>
            <div class="col-md-7 d-flex flex-column justify-content-center align-items-center mt-3">
                <p>Notre Histoire Fondée en 2005 par deux amis passionnés de café, Coffee Point a commencé comme un petit kiosque dans un marché local. Au fil des années, notre entreprise a grandi, mais notre engagement envers la qualité et l'authenticité est resté inchangé. </p>
                <p>Nous sélectionnons soigneusement les grains de café provenant des meilleures plantations du monde. Chaque tasse que nous servons est une promesse de qualité.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 order-md-2 my-3">
                <img src="{{asset('/images/visitor/cafe.jpg')}}" class="d-block w-100" alt="Préparation des grains de café" style="border-top-right-radius: 0; border-bottom-right-radius: 100px; border-top-left-radius: 100px; border: 5px solid #C59B76">
            </div>
            <div class="col-md-7 order-md-1 d-flex flex-column justify-content-center align-items-center mt-3">
                <p>Nous nous engageons à soutenir les communautés de producteurs de café et à minimiser notre impact sur l'environnement. Nos emballages sont recyclables, et nous privilégions les produits locaux. </p>
                <p>Chez Coffee Point, nous voulons que chaque client se sente comme à la maison. Notre personnel amical et compétent est là pour vous accueillir et vous conseiller.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 my-3">
                <img src="{{asset('/images/visitor/aroma-coffee-beans-fills-coffee-shop.jpg')}}" class="d-block w-100" alt="Tasse de café" style="border-top-right-radius: 0; border-bottom-right-radius: 100px; border-top-left-radius: 100px; border: 5px solid #C59B76">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center mb-5">
                <p>Découvrez notre sélection de cafés spéciaux, de lattes crémeux, de thés parfumés et de pâtisseries fraîches. Que vous soyez amateur de cappuccino corsé ou de matcha délicat, nous avons quelque chose pour tous les goûts. Venez nous rendre visite ! </p>
                <p>Rejoignez-nous au Café Étoilé pour une expérience caféinée inoubliable. Que ce soit pour une pause matinale, une réunion d'affaires ou simplement pour savourer un moment de détente, nous sommes là pour vous servir.</p>
            </div>
        </div>
    </div>
    
{% endblock %}