{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Avis{% endblock %}

{% block description %}Avis{% endblock %}

{% block keywords %}Avis, produits{% endblock %}

{% block main %}

    <h1 class="text-center my-3 display-5">Avis</h1>

   
    
{% endblock %}

