{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Contact{% endblock %}

{% block description %}Contactez-nous sur le site RoastBeans Café{% endblock %}

{% block keywords %}Café, email, message, contact{% endblock %}

{% block main %}

    <h1 class="text-center my-3 display-5">Contactez-Nous</h1>
    
{% endblock %}
